<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    {% from "_formhelpers.html" import render_field %}
    <form method=post>
      <dl>
        {{ render_field(form.username) }}
        {{ render_field(form.password) }}
        {{ render_field(form.confirm) }}
      </dl>
      <p><input type=submit value=Register>
    </form>
   </form>
    <br>
    
</body>
</html>